<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="urHungryApp" class="no-js" lang="en" > <!--<![endif]-->

<head>
  
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/style.css?v1.1">
  <link rel="stylesheet" href="css/animate-custom.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
  <script src="js/vendor/moment-range.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/custom.modernizr.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="img/favicon.png" rel="shortcut icon" >
  <link href='img/apple-touch-icon.png' rel='apple-touch-icon'>
  <link href='img/apple-touch-icon-72.png' rel='apple-touch-icon' sizes="72x72">
  <link href='img/apple-touch-icon-114.png' rel='apple-touch-icon' sizes="114x114">
  
  <title>UR Food</title>


</head>
<body ng-controller="LocationUpdaterController">

<div class="row small-centered" id="header">
  <h1 ng-cloak>What's Open at {{timeAndDay}}?</h1>
</div>

<div class="row small-centered" id="locations">
  
  <div ng-cloak class="location" ng-repeat="location in locations">
    <h2 id = "{{location.name}}">{{location.name}}</h2>
    <h4>'till {{location.close}}</h4>
    <p>{{location.simpleMenu}} <a href="#{{location.name}}Menu" class="noHighlight" ng-show="location.liveMenu" ng-click="location.showMenu = !location.showMenu"> - live menu</a></p>

    <div id="{{location.name}}Menu" class="menu animated fadeInDown" ng-show="location.showMenu">
      <p>-------- .:<strong>Menu</strong>:. --------</p>
        <img ng-show="location.showMenu && !location.menu" src="img/loader.gif"></img>
        <div ng-repeat="menuSection in location.menu">
          <h2>{{menuSection.name}}</h2>
          <ul>
            <li ng-repeat="menuItem in menuSection.submenu">- {{menuItem}} -</li>
          </ul>
        </div>
      <p>------------<a href="#{{location.name}}" ng-click="location.showMenu = !location.showMenu">close</a>------------</p>
    </div>
  </div>
  
<!-- 
    <div ng-cloak class="location" ng-repeat="testItem in testItems">
      <h2>{{test.name}}</h2>
      <h4>{{test.value}}</h4>
     </div> -->
</div>
  

  
     

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/js/foundation.min.js"></script>
  <script src="js/hours.js"></script>
  <script src="js/config.js"></script>
  <script src="js/controllers.js"></script>
  
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();

  

// Visit non-inherited enumerable keys
  $(document).ready(function() {
  
  })
  
        
  </script>
</body>
</html>